extends layout

block main
  form(action='/process-request' method='post')
    ol
      li Enter todays food consumption
      input(type="text"
            value=list
            placeholder="enter a list of whole foods eaten today."
            name="list")
      li
        a(href="/history") See history

    fieldset
      input(type="submit" value="Submit request(s)")


      