extends layout

block main
  - let dates = Object.entries(userMacros)
  each date in dates
    hr
    p #{date[0]} 
    each entry in Object.entries(date[1])
      - let macro = entry[0]
      - let val = entry[1].toFixed(2)
      p #{macro} #{val}


