extends layout

block main
  form(action='/process-select-portion' method="post")
    hr
    each idAndName in idsAndNames
      - let fdcId = idAndName[0]
      - let name = idAndName[1]
      p #{fdcId} #{name}
      label(for="portionSize") Enter portion size
      input(type="text"
            name="portionSize"
            placeholder="eg 30g")
    hr

    fieldset
      input(type="submit" value="Submit choices")