.flash {
  background-color: #cbe5f2;
  color: #3399cc;
  margin: 20px 0 1.5rem;
  max-width: 1000px;
  padding: 10px 20px;
}

.flash p {
  font-size: 14px;
  font-weight: bold;
}

.flash.error {
  background-color: #ffcfbf;
  color: #ff6633;
}

.flash.success {
  background-color: #cbf2e5;
  color: #33cc99;
}

hr {
  border: 0;
  border-top: 5px solid cyan;
}